#me{
  width: 300px;
  height: 300px;
  border: solid;
  border-radius: 100%;
}
@keyframes move {
  0%{transform:rotate(0deg);}
  50%{transform:rotate(3deg);}
  100%{transform:rotate(0deg);}
}
#dp{
  width: 20%;
  float: right;
  animation: move 2s infinite ease-in-out;
}
em{
  color: #26A;
}
#hk{
  width: 20%;
  float: left;
  animation: move 2s infinite ease-in-out;
}
#trd{
  font-size: 80%;
}
#rmd{
  font-size: 100%;
}
#trd1{
  font-size: 60%;
  width: 90px;
  height: 30px;
}
#tctc{
  font-size: 100%;
}
#trd2{
  font-size: 60%;
  width: 90px;
  height: 30px;
}
p{
  font-size: 200%;
}
h3{
  font-size: 200%;
}
button{
  width: 140px;
  height: 30px;
}
@media screen and (max-width:2800px){
body{
  height: 100vh;
  background: linear-gradient(gainsboro, lightblue);
}
}
#phon{
  background-color: green;
  color: white;
  border: solid 1px black;
  border-radius: 20px 20px 20px 0;
  padding: 10px;
}
